<section class="row justify-content-center align-items-center">
    {{#if pt_score}}
    <h2 class="col-6 active-title">{{title}}</h2>
    <p class="col-3 active-time text-end">Time Left: {{timer}}</p>
    <p class="col-3 active-points text-end">Points:</p>
    {{else}}
    <h2 class="col-8 active-title">{{title}}</h2>
    <p class="col-4 active-time text-end">Time Left: {{timer}}</p>
    {{/if}}
    <div class="col-12 active-section text-center">
        <h3 class="active-question"></h3>
        <div class="row answers-section">
            <p id="ansOne" class="col-6 active-answer"></p>
            <p id="ansTwo" class="col-6 active-answer"></p>
            <p id="ansThree" class="col-6 active-answer"></p>
            <p id="ansFour" class="col-6 active-answer"></p>
        </div>
    </div>
</section>
<script src="/javascript/active-quiz.js"></script>