<section class="row justify-content-center align-items-center scroll">
  <div class="col-12 col-md-4 col-lg-5 col-xl-4">
    <h2 class="quiz-title">{{quiz.title}}</h2>
    <img class="quiz-img" src={{quiz.img_url}} />
  </div>
  <div class="col-12 col-md-5 col-lg-5 col-xl-4 row text-center text-md-start">
    <p class="col-6">Total Questions:</p>
    {{!-- <p>{{quiz.time}}</p> --}}
    <p class="col-6">{{quiz.total_questions}}</p>
    <p class="col-6">Created By:</p>
    {{!-- <p>{{quiz.timed_score}}</p> --}}
    <p class="col-6">{{quiz.user.username}}</p>
  </div>
  <div class="col-12 text-center">
    <h3 class="quiz-desc">{{quiz.description}}</h3>
    <a href="/quiz/{{{quiz.id}}}/leaderboard" class="view-btn">Leaderboard</a>
    <a href="/quiz/{{{quiz.id}}}/active" class="view-btn">Start Quiz</a>
    {{#if isAuthor}}
      <a href="/quiz/{{{quiz.id}}}/edit" class="view-btn">Edit Quiz</a>
    {{/if}}
  </div>
</section>